@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;

  background: linear-gradient(
      to right,
      transparent 9rem,
      rgba(255, 0, 0, 0.6) 9rem,
      rgba(255, 0, 0, 0.6) 9.2rem,
      transparent 0
    ),
    repeating-linear-gradient(white 0, white 2.4rem, teal 2.5rem);

  font-family: 'Architects Daughter', cursive;
  font-size: 3.6rem;
}

main {
  padding-top: 6rem;
}

h1 {
  font-size: 5.8rem;
}

.game--interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.game--field {
  display: grid;
  grid-template-areas:
    '1 2 3'
    '4 5 6'
    '7 8 9';

  width: 50rem;
  height: 50rem;

  overflow: hidden;
}

.game--cell {
  outline: 0.1rem solid #000;

  background: center no-repeat;
}

#game--play-again {
  display: none;
  cursor: pointer;
}

.playerX {
  background-image: url(x.png);
}

.playerO {
  background-image: url(o.png);
}
